
@media (min-width: 68em) {
  .sidebar {
    visibility: visible;
    left: 0;
    z-index: 10;
  }

  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }

  .wrap {
    width: calc(100% - 280px)
  }

}

.posts .post {
  margin-bottom: 2rem;
}

.avatar {
  border-radius: 50%;
}

.sidebar-item {
  text-align: center;
}
/* .wrap,
.sidebar,
.sidebar-toggle {
  -webkit-backface-visibility: visible;
      -ms-backface-visibility: visible;
          backface-visibility: visible;
} */